youtube_dl
yt_dlp
face_detection
typer
opencv-python
rich
tqdm
cython
pandas
pillow
git+https://github.com/elliottzheng/face-detection.git@master
deepface
mediapipe
cython_bbox
scikit-learn
scikit-image
pydantic
natsort
streamlit
st_clickable_images
albumentations
